name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t simple-web .

      - name: Run container
        run: docker run -d -p 8000:8000 --name simple-web simple-web

      - name: Test container (basic test)
        run: |
          sleep 2
          curl -I http://localhost:8000
